.container
{
    text-align: center;
}

#mycarousel{
    background: green; 
    height: 450px
}

#mycarousel img{
    height: 300px;
    margin-top: 30px;
}

.carousel-inner p{
    margin-bottom: 13px;
    margin-top: 13px; 
    color: white;
    font-size: 18px; 
}

.glyphicon glyphicon-chevron-left{
    height: 450px
}

.glyphicon glyphicon-chevron-right{
    height: 450px
}

.iimg{
    height: 225px; 
}

#iiimg{
    margin-left: 915px; 
}

h3{
    margin-top: 100px; 
}